/.vs
/CustomPropertiesSample/bin/Debug
/CustomPropertiesSample/obj/Debug
/CustomPropertiesSample/.vs/CodeSmith.Samples/v15
/CodesmithKeyGenerator/.vs
/CodesmithKeyGenerator/bin
/CodesmithKeyGenerator/obj/x86
/ConsoleApp1/bin/Debug
/ConsoleApp1/obj/Debug
/MySQLSchemaProvider.Test/bin/Debug
/MySQLSchemaProvider.Test/obj/Debug
/packages
